.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: .5rem; 
    margin: 1rem 2rem;
    border-radius: 4px;

    &_location {
        font-weight: bold;
        color: green;
    }
    &__card_router-link{
        text-decoration: none;
    }

    &__map-link{
        color: white;
        text-decoration: none;
        background-color: green;

    }

}