@mixin font-bold {
    @font-face {
        font-family: avenir-next;
        font-weight: 700;
        src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
    }

    font-family: avenir-next,
    sans-serif,
    Times,
    serif;
}

@mixin font-regular {
    @font-face {
        font-family: avenir-next;
        font-weight: 400;
        src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
    }
    font-family: avenir-next,
    sans-serif,
    Times,
    serif;
}

@mixin pageheader {
    @include font-bold;
    font-size: 1.5rem;
    line-height: 2rem;
}

@mixin sectionheader {
    @include font-bold;
    font-size: 0.75rem;
    line-height: 1.25rem;
}

@mixin subheader {
    @include font-bold;
    font-size: 0.8125rem;
    line-height: 1.125rem;
}

@mixin bodycopy {
    @include font-regular;
    font-size: 0.8125rem;
    line-height: 1.125rem;
}

@mixin buttonlabels {
    @include font-bold;
    font-size: 0.625rem;
    line-height: 1.25rem;
}